@keyframes moveShadow {
    0% {
      box-shadow: -10px 0 15px rgba(0, 0, 0, 0.2);
      transform: translateX(-100%);
    }
    100% {
      box-shadow: 10px 0 15px rgba(0, 0, 0, 0.2);
      transform: translateX(100%);
    }
  }
  